.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: monospace;
  font-size: 1.4rem;
}

.grid-item {
  display: inline;
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid rgba(0,0,0,0.1);
  background: #FFF;
  font-size: 1.2rem;
}

.data-grid {
  height: 24rem;
  width: auto;
  aspect-ratio: 1;
}